<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container" style="background-color: #E5E5E5; margin: 5rem; padding: 1rem">
    <h4 style="text-align: center; padding-bottom: 2rem;">Create new message</h4>

    <form style="text-align: center" action="/api/produce/create-message">
        <div class="mb-3">
            <label class="form-label" for="message" id="message">Message:</label>
            <input type="text" id="message" name="message"><br><br>
            <input  class="btn btn-success" type="submit" value="Submit">
        </div>
    </form>

</div>
</body>
</html>